.carousel { 
    min-height: 600px;
    margin: 0 !important;
    padding-bottom: 150 !important;
}

.carousel > a{
    font-size: 20px;
}
.carousel .carousel-item {
    height:60% !important; 
    width:60% !important; 
    margin-top:-100px  !important;
}

.carousel .carousel-item>img {
    margin: 0 !important;
    height:100% !important; 
    width: 100%;
}


.card-reveal{
    color: #F6F4E6;
    background-color: rgba(0,0,0,0.5) !important;
  }
  div.card-reveal span.card-title{
   color: #F6F4E6 !important; 
  }
  .container>p{
      margin-top: 30px ;
      font-size: 15px;
  }
  .card-reveal{
    padding: 0;
  }
  .card-reveal .container{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .material-icons{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      padding: 10px;
      margin: 0;
      /* font-style: normal !important; */
  }


