<!-- Galeria de imágenes -->
<div class="container ">
    <div class="row">
        <div class="col s12 waves-effect ">
            <div class="carousel">
                <a class="carousel-item hoverable yellow-text text-darken-2 center ">Montajes
                    <div class="card hover-reveal">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../../../assets/img/Pagina/01.jpg">
                        </div>
                        <div class="card-reveal">
                            <span class="card-title"> <i class="material-icons right yellow darken-2 center">X</i></span>
                            <div class="container section">
                                <h4 class="z-depth-5">Fotos tipo Montaje.</h4>
                                <p>Para este tipo de foto se utilizan las últimas herramientas tecnológicas y las
                                    mejores prácticas para que sus fotos tengan una excelente Calidad</p>
                                <p>Normalmente se usan programas como Photoshop o Ilustrator para darle los efectos
                                    y apariencia más realista</p>
                                <p>Cantidad de fotos: 1</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item hoverable yellow-text text-darken-2 center ">Estudio
                    <div class="card hover-reveal">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../../../assets/img/Pagina/06.jpg">
                        </div>
                        <div class="card-reveal">
                            <span class="card-title "> <i class="material-icons right yellow darken-2 center">X</i></span>
                            <div class="container section">
                                <h4 class="z-depth-5">Fotos tipo Estudio</h4>
                                <p>Consiste en la toma de varias fotos de diferentes perspectivas para armar
                                    paquetes llamamos estudio</p>
                                <p>Normalmente se usan programas como Photoshop o Ilustrator para darle los efectos
                                    y apariencia más realista</p>
                                <p>Cantidad de fotos: entre 6 y 8</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item hoverable yellow-text text-darken-2 center " >Eventos - Quince Años - Bautizos
                    <div class="card hover-reveal">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../../../assets/img/Pagina/Quince.jpg">
                        </div>
                        <div class="card-reveal">
                            <span class="card-title "> <i class="material-icons right yellow darken-2 center">X</i></span>
                            <div class="container section">
                                <h4 class="z-depth-5">Fotos tipo exterior</h4>
                                <p>Este tipo de foto se suele ejectuar en un entorno abierto y para esto se usa una
                                    camara especial que capta la mayor cantidad de luz posible</p>
                                <p>Cantidad de fotos: más de 10</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item hoverable yellow-text text-darken-2 center ">Matrimonios
                    <div class="card hover-reveal">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../../../assets/img/Pagina/275.jpg">
                        </div>
                        <div class="card-reveal">
                            <span class="card-title "> <i class="material-icons right yellow darken-2 center">X</i></span>
                            <div class="container section">
                                <h4 class="z-depth-5">Fotos tipo Matrimonio</h4>
                                <p>En este tipo de eventos se realizan varios estudios entre los cuales se destacan:
                                    fotos de la Novia, la pareja, la seremonia en la iglesia y la recepción </p>
                                <p>Cantidad de fotos: más de 10</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item hoverable yellow-text text-darken-2 center " >Documentos
                    <div class="card hover-reveal">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../../../assets/img/Pagina/Documento.jpg">
                        </div>
                        <div class="card-reveal">
                            <span class="card-title "> <i class="material-icons right yellow darken-2 center">X</i></span>
                            <div class="container section ">
                                <h4 class="z-depth-5">Fotos tipo documento</h4>
                                <p>Este tipo de foto normalmente se entrega el mismo dia</p>
                                <p>Cantidad de fotos: entre 4 y 6</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> 
