
  /* ************* */
  .final{
    width: 100%;
   }
   .parte-final{
       width: 100%;
       text-align: center;
   }
   .titulo-final{
       font-size: 30px;
   }
   .contenidof{
       display: flex;
       justify-content: center;
   }
   .opiniones{
       height: 475px;
       display: flex;
       flex-direction: column;
       padding: 10px;
       padding-top: 5px;
       border-radius: 20px;
       border: 1px solid #41444B;
       margin-left: 30px;
   }
   h4{
       font-size: 25px;
       padding: 0;
       margin: 0;
   }
   .opinion{
       background-color:#52575D;       ;
       border-radius: 20px;
       color: #F6F4E6;
       width: 100%;
       padding: 0;
       margin: 2px;
       margin-bottom: 5px;
       
   }
      
   .comentario, .autor{
       font-style: italic;
       margin: 0;
       padding: 8px;
   }
   .comentario{
       text-align: left;
   }
   .autor{
       text-align: right;
       margin-bottom: 6px;
   }
   .boton{
       margin-top: 10px;
   }
   .boton a{
       text-align: center;
       border-radius: 10px;
       padding: 15px;
       color: #41444B;
       
   }