
<section class="portafolio">
    <div class="screen z-depth-5">
        <div class="header">
            <p class="portaf"> Montaje Infantil </p>
            <p class="linea">|</p>
            <p class="portaf"> Estudios</p>
            <p class="linea">|</p>
            <p class="portaf">Eventos</p>
            <p class="linea">|</p>
            <p class="portaf">Matrimonios</p>
            <p class="linea">|</p>
            <p class="portaf">Quince Años</p>
            <p class="linea">|</p>
            <p class="portaf">Bautizos</p>
            <p class="linea">|</p>
            <p class="portaf">Documentos</p>
        </div>
        <div class="cube izquierda"></div>
        <div class="cube derecha"></div>
        <div class="central">
            <div class="next">
                <div class="montaje">
                    <div class="padre">
                        <div class="grid Horizontal1"><img src="../../../assets/img/Pagina/19.jpg" alt="h1" width="100%" height="100%"></div>
                        <div class="grid Horizontal2"><img src="../../../assets/img/Pagina/01.jpg" alt="h2" width="100%" height="100%"></div>
                        <div class="grid Horizontal3"><img src="../../../assets/img/Pagina/21.jpg" alt="h3" width="100%" height="100%"></div>
                        <div class="grid Horizontal4"><img src="../../../assets/img/Pagina/275.jpg" alt="h4" width="100%" height="100%"></div>
                        <div class="grid Horizontal5"><img src="../../../assets/img/Pagina/10.jpg" alt="h5" width="100%" height="100%"></div>
                        <div class="grid Horizontal6"><img src="../../../assets/img/Pagina/08.jpg" alt="h6" width="100%" height="100%"></div>
                        <div class="grid Vertical1"><img src="../../../assets/img/Pagina/18.jpg" alt="V1" width="100%" height="100%"></div>
                        <div class="grid Vertical2"><img src="../../../assets/img/Pagina/04.jpg" alt="V2" width="100%" height="100%"></div>
                        <div class="grid Vertical3"><img src="../../../assets/img/Pagina/07.jpg" alt="V3" width="100%" height="100%"></div>
                        <div class="grid Vertical4"><img src="../../../assets/img/Pagina/07.jpg" alt="V4" width="100%" height="100%"></div>
                        <div class="grid Vertical5"><img src="../../../assets/img/Pagina/155.jpg" alt="V5" width="100%" height="100%"></div>
                        <div class="grid Vertical6"><img src="../../../assets/img/Pagina/172.jpg" alt="V6" width="100%" height="100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="carousel">
	<a class="carousel-item"  *ngFor="let item of items;let i = index">
		<img src={{item}}/>
    </a>
</div> -->