/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body{
    background-color: #41444B;
    color:#F6F4E6;
    font-family: 'Comfortaa';
}

