 
 <!-- Barra de Menú -->
 
 <nav class="blue">
    <div class="nav-wrapper">
      <a [routerLink]="['/']" class="brand-logo"> <img class="responsive-img" src="../../../assets/img/Logo_Fox.png" alt="Logo"> </a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/']"><i class="material-icons right">home</i>Inicio</a></li>
        <li><a [routerLink]="['/quienessomos']"><i class="material-icons right">info</i>Quienes somos</a></li>
        <li><a [routerLink]="['/portafolio']"><i class="material-icons right">view_module</i>Portafolio</a></li>
        <li><a [routerLink]="['/contactenos']"><i class="material-icons right">perm_phone_msg</i>Contactenos</a></li>
        <li><a [routerLink]="['/chat']"><i class="material-icons right">question_answer</i>Chat</a></li>
        <li><a [routerLink]="['/admin']"><i class="material-icons right">admin_panel_settings</i>|</a></li>
      </ul>
    </div>
  </nav>
  