
img{
    height: 65px;
}
.material-icons{
    margin-left: 5px !important; 
}
nav{
    
    margin-bottom: 1em;
    background-color: #41444B;
}

ul>li>a,ul>li>a>.material-icons{
    color: #FDDB3A !important;
}
nav {
    position: fixed;
    height: 64px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    z-index: 100;
}