.page-footer{
     background-color: #FDDB3A;
     padding-top: 3px;
     
}
.container, .copy{
        color: #52575D !important;
}
.copy{
        font-size: 10px !important;
        min-height:5px
}
hr{
        color: #41444B;
}
h5{
        font-size: 15px;
}
footer {
        position: fixed;
        height: 75px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        z-index: 100;
    }
    footer ul li a{
        
                color: #52575D;
                background-color: transparent !important; 
            
    }
.row{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px !important;
        height: 35px
}
img{
        height: 20px;
    }

