.page-footer{
     background-color: #FDDB3A;
     padding-top: 3px;
     
}
.container, copy{
        color: #52575D !important;
}
.copy{
        font-size: 10px !important;
        min-height:5px
}
hr{
        color: #41444B;
}
footer {
        position: fixed;
        height: 85px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        z-index: 100;
    }
    img{
        height: 50px;
        background-color: #52575D;
    }
    .row{
            margin: 0px !important;
    }