.page-footer{
     background-color: #FDDB3A;
     padding-top: 3px;
     
}
.container, copy{
        color: #52575D !important;
}
.copy{
        font-size: 10px !important;
        min-height:5px
}
hr{
        color: #41444B;
}