<hr>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Fox Estudio Fotográfico</h5>
          <p class="grey-text text-lighten-4">Agencia de fotografìa</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Nuestras Redes</h5>
          <ul >
            <li><a class="grey-text text-lighten-3" href="https://wa.me/573144383831" target="_blank">
                <i class="material-icons right">smartphone</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/FOX-Estudio-Fotografico-101575095057133" target="_blank">
                <i class="material-icons right">facebook</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/foxestudiofotografico" target="_blank">
                <i class="material-icons right">center_focus_strong</i></a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center copy">
      <div class="container">
      © 2021<a class="grey-text text-lighten-4 right" href="https://www.facebook.com/yamid.huertas" target="_blank">Created by YamidHuertas</a>
      </div>
    </div>
  </footer>